@model GetProductAccounterByIdQueryResult
@{
    ViewData["Title"] = "AccounterIndexByID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Muhasebe Ürün Detay Paneli</h1>

<div class="container">
    <label>Urun Id</label>
    <input type="text" asp-for="ProductID" class="form-control" />
    <br />
    <label>Urun Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Urun Marka</label>
    <input type="text" asp-for="Brand" class="form-control" />
    <br />
    <label>Fiyat</label>
    <input type="text" asp-for="SalePrice" class="form-control" />
    <br />
    <label>açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

</div>

